body {
  background-color: #0d0c1d;
  display: flex;
  justify-content: center;
  text-align: center;
}
.appon {
  padding: 150px;
  width: 50vh;
  height: 50vh;
  box-shadow: 5px 5px 5px 5px #ececec;
  border: 2px solid #0d0c1d;
  border-radius: 30px;
}
.ques {
  color: white;
  font-size: 3em;
}
.ans:hover {
  background-color: green;
}
.start {
  width: 50vh;
  background-color: #5b80cc;
}
.ans {
  width: 30vh;
}
.marks {
  color: white;
  font-size: 3em;
}
